body {
  font-size: 16px;
  color: #fff;
  background-color: #262;
  font-family: 'Oxygen', sans-serif;
  padding: 20px;
}

li[ui-sref]:hover {
  cursor: pointer;
  font-size: 20px;
}

div.block {
	width: 40%;
	display: inline-block;
  vertical-align: top;
}
